.full-window {
    min-height: 100vh;
    width: 100vw;
    background-image: url('./../../../assets/wallpaper1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 90%;
}

.full-width {
    width: 100%;
}
