.full-window {
    min-height: 100vh;
    width: 100vw;
    background-image: url('./../../../assets/wallpaper1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.login-container {
    display: flex;
    flex-direction: row;
}

.form-container{

}

.item {
    align-items: stretch;
}

.login-card{
    min-height: 100vh;
    justify-content: center;
}

.login{
    flex-grow: 1;
}

.info{
    flex-grow: 8;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}

.med-width {
    width: 75%;
}
